/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}

img {
  width:100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}


section, footer {
  text-align: center;
  background:rgba(0,0,0,0.2);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
}

/* Flex Container */
/* grab our flex css from the project before */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1; 
}

@media all and (max-width:1000px) {
  /* and for wrap to work we need some kind of width */
  .flex-nav ul {
    flex-wrap: wrap;
  }

  /* so we use flex-basis to get sizing */
  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1 25%; 
  }
}

@media all and (max-width:500px) {
  
  .flex-nav li {
    flex-basis: 100%;
  }

/* we have all our divs in this wrapper */
/* we want to turn the items into flex items */
/* and then to fix the direction to column */
  .wrapper{
    display: flex;
    flex-direction: column;
  }
/* select all immediate children...our flex items */
/* default is 0...so need to a high number so we can add menu at 1 */
  .wrapper > * {
order:9999;
  }

  /* now let's order our elements */
  .flex-nav {
    order: 1;
  }
/* turn this on here */
  .toggleNav {
    display: block;
  }

.flex-nav ul {
  display: none;
}

/* normal toggle javascript switches from none - block */
/* we need to use flex so we append our own class */
.flex-nav ul.open {
  display: flex;
}

/* and we'll reorder our further elements */
.top {
  order: 2;
}

.details {
  order: 3;
}

.signup {
  order: 4;
}


  }
